<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container mb-5">
  <div>
    <ul id="tabs">
      <% i = 1 %>
      <% @categories.each do  |category|%>
        <li id="tab-<%= i %>"><%= category.title  %></li>
        <% i += 1 %>
      <% end %>
    </ul>
    <% i = 1 %>
    <% @categories.each do  |category|%>
      <div class="card tasks tab-<%= i %>">
        <ul>
          <% category.tasks.each do |task|  %>
          <li>
            <%= task.title  %>
            <% unless task.deadline.nil? %>
              , to read: <%= task.deadline.strftime('%D')  %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <script>
        $(document).ready(function() {
          let tasks = $(".tasks").length
          for(let i = 0; i <= tasks; i++){
            $("#tab-<%= i %>").on("click", function(){
              $(".tab-" + i).hide()
              $(".tab-<%= i %>").show(250)
              $("#tab-" + i).removeClass("current")
              $("#tab-<%= i %>").addClass("current")
            })
          }
        })
      </script>
    <% i += 1 %>
    <% end %>

  </div>
</div>
<div class="gros-car">
  
  <div class="container-arrow">
  <div id="carrousel-prev"><img src="https://img.icons8.com/flat_round/100/000000/left.png"></div>  <!-- Ici on a laissé le tag img parce que c'est des images externe. Pas besoin d'utiliser les assets pour ça. -->
  <div id="carrousel-next"><img src="https://img.icons8.com/flat_round/100/000000/right.png"></div><!-- Ce sont nos flêches gauche et droite du carousel. -->
  </div>

<div class="container-carrousel">
  <ul class="carrousel">
    <% @tasks.each do |task|  %> <!-- Ici on créer une liste avec toutes les images du carousel. -->
      <% unless task.image.nil? %>
        <li><%= image_tag task.image %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="container-cercle">
  <% i=0 %>
  <% @tasks.each do |task|  %> <!-- Et là on crée nos petits cercles en dessous du carousel pour pouvoir y naviguer plus rapidement. -->
  <% i += 1 %>
    <% unless task.image.nil? %>
      <div id="<%= i %>" style="background:<%= task.image %>;" class="cercle"></div>
    <% end %>
    <!-- Je glisse un petit bout de js ici. La création de lien pointant vers les id des images dans la boucle depuis le fichier JS en lui même ne fonctionnait pas. -->
    <script> 
      $(document).ready(function(){
       $("#<%= i %>").click(function() {
          Cpt = <%= i-1 %>;
          $(".carrousel").animate({
          marginLeft : - (Reference.width() * Cpt)
          });
        });
      })
    </script>
  <% end %>
</div>
</div>
<!-- Le html est simple. Côté css et js c'est pas la même. -->